/* ======== MENU ========== */

.navbar{
    background-color: var(--background-color);
    width:100%;
    position:fixed;
    transition: all 0.3s ease;
    z-index: 99;
    font-size: var(--h2-font-size);
    padding: .5rem;
}

.navbar.active {
    background-color: var(--navbar-active-background);
    box-shadow: 0 2px 4px var(--border-header);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    padding-top: 5rem;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
   
    background: var(--navbar-mobile-background);
    transition: all .3s ease;
    z-index: -1;

}

.nav-list.active{
    right: 0;
}


.nav-item{
    padding-left: 5%;
    padding-top: 1rem;
}

.nav-link{
    color: var(--navbar-mobile-color);
    font-weight: 600;
    transition: 1.3s;
    
}

.nav-link:hover{
    text-decoration: underline;
}


.menu-btn{
    display: block;
    cursor: pointer;
    color: var(--menu-btn-color);
    font-size: var(--btn-font-size);
}


.menu-btn i.active::before{
    content: '\f00d';
    color: var(--menu-btn-active);
}


.nav-logo, .menu-btn{
    display: flex;
    align-items: center;
}

.nav-logo img{
    content: url('../../../images/logo.svg');
}

body.dark-theme .nav-logo img{
    content: url('../../../images/logo-white.svg');
}

.nav-logo.active img{
    content: url('../../../images/logo-white.svg');
}




/* MEDIA QUERIES */


@media only screen and (min-width:968px){

    
    .menu-btn{
        display: none;
    }

    .nav-list{
        background-color: transparent;
        position: static;
        flex-direction: row;
        justify-content: center;
        font-size: var(--normal-font-size);
        padding: 0;
        width: auto;
        height: auto;
        align-items: center;
        z-index: var(--z-tooltip);

    }

    .nav-link{
        padding-left: 1.3rem;
        color: var(--navbar-desktop-color);
    }

    .nav-item{
        padding: 0;
    }

}