.servicos{
    background-color: var(--fourth-background-color);
}


.servicos-container{
    display: flex;
    flex-direction: column;
}

.activities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activitie{
    width: 15rem;
    height: 15rem;
    color: var(--secondary-font-color);
    box-shadow: 0 2px 6px var(--primary-shadow-color);
    border-radius: .5rem;
    margin: var(--mb-3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.activitie:hover{
    background-color: var(--activitie-hover);
    color: var(--primary-font-color);
    transform: scale(1.1);
}

.activitie-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--mb-3);
}

.activitie-title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-3);
}

.activitie-icon{
    font-size: var(--icon-font-size);
}


@media screen and (min-width: 750px){
    .activities{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 968px) {
    .activities{
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
