.contato{
    background-color: var(--contact-background-color);
    border-radius: 2rem 2rem 0 0 ;
}

.contato .section-title{
    padding: 1.5rem;
    color: var(--primary-font-color);
}

.contato-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-font-color);
    text-align: center;    
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-section{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    text-align: center;
    font-size: var(--h3-font-size);    
}

.contato .form-text{
    border-radius: .8rem;
    padding: 1rem;
    outline: none;
    border: none;
    text-align: left;
    width: 15rem;
    
}

.contato label{
    padding-left: .5rem;
    padding-bottom: .5rem;
    font-weight: var(--font-semi-bold);
    text-align: left;
}

textarea.form-text{
    width: 15rem;
    resize: vertical;
}

.form-btn{
    background-color: var(--btn-secondary-color) ;
    color: var(--secondary-font-color);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: var(--mb-2) var(--mb-7); 
    border-radius: .3rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    cursor: pointer;
    margin-top: 1rem;
    transition: .3s;
}

.form-btn:hover{
    transform: scale(1.1) !important;
    box-shadow: 0px 0px 10px var(--secondary-shadow-color);
}

.form-message.invalid-message,
.form-message.successful-message {
    padding: var(--mb-2 );
    font-size: var(--small-font-size);
    border-radius: var(--mb-3);
    color: var(--message-color);
    font-style: italic;
}


.form-message.invalid-message{
    background-color: var(--error-color);
}

.form-message.successful-message {
    margin-top: var(--mb-3);
    background-color: var(--success-color);
}

@media screen and (min-width: 968px){

    .form-group{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .form .left{
        margin-right: var(--mb-6);
    }

    .form-btn{
        width: 100%;
    }
    
}