footer{   
    background-color: var(--fifth-background-color);
}

footer .container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text{
    margin-top: var(--mb-1);
    color: var(--primary-font-color);
    font-size: var(--normal-font-size);
    text-align: center;
}