/* =========== General ============ */

html {
    scroll-behavior: smooth;
  }

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--background-color);
    color: var(--secondary-font-color);
    line-height: 1.6;
}

body::-webkit-scrollbar {
    width: .6rem;
}
  
body::-webkit-scrollbar-track {
    background: var(--background-color);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border: 3px solid var(--scroll-bar-color);
    border-radius: 20px;
}

body.dark-theme::-webkit-scrollbar-thumb{
    background-color: #b3b3b3;
    border-color: #b3b3b3;
}


h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}


.section-title{
    color: var(--title-primary-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    text-align: center;
}

.equipe .section-title,
.projetos .section-title,
.galeria .section-title{
    color: var(--title-secondary-color);
}


section,
footer{
    padding: var(--mb-4);
    padding-left: 0;
    padding-right: 0;
}