.projetos{
    background-color: var(--secondary-color);
    background-image: url('../../images/lines-background-mobile.png');
}

.projetos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-row {
    max-width: 17rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    width: 16rem;
    height: 13rem;
    background-color: var(--body-color);
    margin: var(--mb-2);
    transition: all .3s ease;
    position: relative;
}

/* .projects-row > * {
    flex: 1 1 80px;
} */


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--dark-gray);
    border-bottom: var(--mb-1) solid var(--black);
  }

.project:hover .overlay{
    opacity: .9;
}

.icon {
    color: white;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


@media screen and (min-width: 680px){

    .project-row{
        max-width: 57rem;
    }

}