/* =========== General ============ */

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

