
/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600;700;900&display=swap');

/* files css */
@import url('./modules/general.css');
@import url('./modules/menu.css');
@import url('./modules/home.css');
@import url('./modules/sobre.css');
@import url('./modules/team.css');
@import url('./modules/galeria.css');
@import url('./modules/servicos.css');
@import url('./modules/projetos.css');
@import url('./modules/contato.css');
@import url('./modules/scrolltop.css');
@import url('./modules/footer.css');


:root {

    /* =========== Cores ========  */
    --body-color: #FAF0E8;
    --secondary-color: #EBD5C6;
    --dark-gray: #383838;
    --light-purple: #8c87ce;
    --white: #FFFFFF;
    --modern-blue: #4492d0;
    --hover-menu-link: #EBD5C6;
    --btn-color: #ffffff;
    --error-color: #F26464;
    --success-color: #5FCD69;
    --black: #000000;
    --footer-color: #353535;
    --border-header: #00000080;




    /* ========== Fontes ============ */
    --body-font: 'Poppins', sans-serif;
    --subtitle-font:  'MuseoModerno', cursive;
    --icon-font-size: 3rem;
    --biggest-font-size: 2rem;
    --h1-font-size: 5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --btn-font-size: 1.2rem;

    /*========== Font weight ==========*/
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-black: 900;

    /*========== Margins ==========*/
    --mb-03: .3rem;
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-7: 4rem;
    /*========== z index ==========*/
    --z-behind: -1;
    --z-tooltip: 10;
    --z-main: 50;
    --z-fixed: 100;
}

:target {
    scroll-margin-top: calc(var(--mb-6) + var(--mb-03));
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


