/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600;700;900&display=swap');

/*  ========== files css ========= */

/* pages */
@import url('./modules/pages/menu.css');
@import url('./modules/pages/inicio.css');
@import url('./modules/pages/sobre.css');
@import url('./modules/pages/equipe.css');
@import url('./modules/pages/servicos.css');
@import url('./modules/pages/projetos.css');
@import url('./modules/pages/galeria.css');
@import url('./modules/pages/contato.css');
@import url('./modules/pages/footer.css');
@import url('./modules/skeleton.css');

/* features */
@import url('./modules/general.css');
@import url('./modules/scrolltop.css');
@import url('./modules/dark-mode.css');


:root {

    /* =========== Cores ========  */
    --scroll-bar-color: #eac1a0;
    /* background */
    --background-color: #FAF0E8;
    --second-background-color: #EBD5C6;
    --third-background-color: #383838;
    --fourth-background-color: #ffffff;
    --fourth-background-color: #ffffff;
    --fifth-background-color: #353535;
    --contact-background-color: #383838;

    /* nav */
    --navbar-mobile-background: #383838;
    --navbar-mobile-color: #ffffff;
    --navbar-desktop-color: #383838;
    --navbar-active-background: #ffffff;
    --border-header: #00000080;
    --menu-btn-color: #383838;
    --menu-btn-active: #fff;

    /* home */
    --home-font-color: #383838;

    /* services */
    --activitie-hover: #383838;

    /* projects */
    --overlay-content-color: #fff;


    /* scroll */
    --scrolltop-background-color: #000000;
    --scrolltop-color: #ffffff;

    /* font color */
    --primary-font-color: #ffffff;
    --secondary-font-color: #383838;

    --title-font-color: #383838;
    --title-secondary-color: #383838;

    /* shadow */
    --home-shadow-color: #383838;
    --primary-shadow-color: #383838;
    --secondary-shadow-color: #fff;

    /* btn */
    --btn-primary-color: #383838;
    --btn-secondary-color: #ffffff;
    --btn-primary-hover: #000000;
    --btn-slider-color: #383838;

    /* overlay */
    --overlay-background: #383838;
    --overlay-bottom: #000000;
    --overlay-icon: #fff;

    /* validation */
    --message-color: #fff;
    --error-color: #F26464;
    --success-color: #5FCD69;

    /* card */
    --card-background-color: #383838;
    --card-font-color: #ffffff;
    --card-border-color: #fff;

    /* ========== Fontes ============ */
    --body-font: 'Poppins', sans-serif;
    --subtitle-font: 'MuseoModerno', cursive;
    --icon-font-size: 3rem;
    --biggest-font-size: 2rem;
    --h1-font-size: 5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --btn-font-size: 1.2rem;

    /*========== Font weight ==========*/
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-black: 900;

    /*========== Margins ==========*/
    --mb-03: .3rem;
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --mb-7: 4rem;
    /*========== z index ==========*/
    --z-behind: -1;
    --z-tooltip: 10;
    --z-main: 50;
    --z-fixed: 100;
}

:target {
    scroll-margin-top: calc(var(--mb-6) + var(--mb-03));
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}